<% provide :title, t(".order_title") %>
<% provide :button_order, t(".order_button") %>
<% provide :button_text, t(".update_button") %>
<% if current_user.cart_items.empty? %>
  <h3><%= link_to t(".none_item"), root_path %><h3>
<% else %>
  <div class="kenh14-border" id="blog-title" >
    <h2><%=(t ".order_detail")%></h>
  </div>
  <div id="form-order">
    <%= render "orders/order_item" %>
    <div class="row">
      <p><%= t(".step_1") %></p>
      <div class="col-md-6 col-md-offset-3">
        <%= render "orders/order_form" %>
      </div>
    </div>
  </div>
<% end %>
