<% provide(:title, (t ".home_title"))%>
<div class="post">
  <h2 class="title"><%=(t ".welcome")%></h2>
   <div class="entry">
    <p>This is <strong> <%=(t ".store")%> </strong></p>
    </div>
</div>
<div class="row">
<% @books.each do |book| %>
  <div class="col-lg-4 col-md-4 mb-4">
    <div class="card-book h-100">
      <%= link_to image_tag( book.image , size: "120x140", alt: "Ko hien thi"), book_path(book)%>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to book.title, book_path(book) %>
          </h4>
          <h5><%=book.price.to_s%>đ</h5>
          </div>
          <div class="card-footer">
        </div>
      </div>
    </div>
<% end %>
</div>
<%= will_paginate %>
