<% provide(:title, (t ".home_title"))%>
<div>
  <div class="post">
    <h2 class="title"><%=(t ".welcome")%></h2>
    <div class="entry">
      <p>This is <strong> <%=(t ".store")%> </strong></p>
    </div>
    <% if logged_in? %>
    <button id="delete-button" type="button" class="btn btn-danger"><i class="fa fa-heart"></i><%= link_to (t ".favorite"), user_favorite_books_path(current_user.id) %></button>
    <% end %>
  </div>
  <div class="all-book row">
    <%= render @books %>
  </div>
  <div class="paginate-book">
    <%= paginate @books, theme: "twitter-bootstrap-3" %>
  </div>
</div>
