<div id="cart">
<table class="table table-hover bg-table ls-books">
  <thead class="title_table">
    <tr>
      <th class="text-c"><%= t ".index" %></th>
      <th class="text-c"><%= t ".image" %></th>
      <th class="text-c"><%= t ".title" %></th>
      <th class="text-c"><%= t ".price" %></th>
      <th class="text-c"><%= t ".quantity" %></th>
      <th class="text-c"><%= t ".delete_item" %></th>
    </tr>
  </thead>
  <tbody>
  <% @items.each_with_index do |item, index| %>
    <tr>
      <td class="text-c">
        <%= index_for params[:page], index, Settings.admin.book.per_page %>
      </td>
      <td class="text-c"><%= link_to image_tag(item.book.image.url, size: Settings.admin.book.image_size) , book_path(item.book) %></td>
      <td class="text-c"><%= link_to item.book.title, book_path(item.book) %> </td>
      <td class="price"><h4><%= number_to_currency item.paideach, locale: :vi %></h4></td>
      <td class="text-c"><%= item.quantity %></td>
      <td class="text-c">
        <%= link_to raw("<span class='glyphicon glyphicon-trash
          text-danger'></span>"), cart_item_path(item) , method: :delete,
          data: {confirm: t(".confirm_delete")}, remote: true %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>
<table class="table table-hover bg-table ls-books">
  <tbody>
    <tr>
      <td id="total">
        <h4><%= t(".total", vnd: number_to_currency(current_user.cart_total, locale: :vi)) %></h4>
      </td>
    </tr>
  </tbody>
</table>
</div>
