<div id="menu-wrapper">
	<div id="menu">
      <ul>
			<li class="current_page_item" ><%= link_to (t ".home_button"), root_path%></li>
			<li><%= link_to (t ".about_button"), about_path %></li>
			<li><%= link_to (t ".blog_button"), blogs_path %></li>
			<% if logged_in? %>
          <li><%= link_to (t ".new_blog"), new_blog_path %></li>
          <li><%= link_to (t ".cart_button"), cart_items_path %></li>
          <li class="right_button"><%= link_to (t ".profile_button"), current_user %></li>
          <li class="right_button"><%= link_to (t ".logout_button"), logout_path, method: :delete %></li>
      </ul>
        <% else %>
			<li class="right_button"><%= link_to (t ".login_button"), login_path  %></li>
			<li class="right_button"><%= link_to (t ".signup_button"), signup_path  %></li>
			<% end %>
	</div>
</header>
</div>
<div id="header-wrapper">
	<div id="header">
    <div class="row">
		<div id="logo" class="col-lg-4" >
			<h1><%= link_to (t ".store_name") , root_path %></h1>
			<p><%= t ".design" %> <%= link_to (t ".founder"), (t ".link_hieu")%> </p>
		</div>
    <div class="col-lg-4"></div>
</div>
</div>
</div>
<div id="banner"><%= link_to image_tag( t(".book"), size: Settings.header.size , alt: t(".alt") ) %></div>
<div id="wrapper">
