<div id="menu-wrapper">
  <div id="menu">
    <ul>
    <li class="current_page_item" ><%= link_to (t ".home_button"), root_path%></li>
    <li><%= link_to (t ".about_button"), about_path %></li>
    <li><%= link_to (t ".contact_button"), contact_path %></li>
    <li><%= link_to (t ".blog_button"), blogs_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to (t ".new_blog"), new_blog_path %></li>
      <li class="right_button"><%= link_to (t ".profile_button"), edit_user_registration_path %></li>
      <li class="right_button"><%= link_to (t ".logout_button"), destroy_user_session_path, method: :delete %></li>
    </ul>
    <% else %>
    <li class="right_button"><%= link_to (t ".login_button"), new_user_session_path  %></li>
    <li class="right_button"><%= link_to (t ".signup_button"), signup_path  %></li>
    <% end %>
  </div>
</div>
<div class="row">
  <div id="header-wrapper">
    <div id="header">
      <div id="logo">
        <h2><%= link_to (t ".store_name") , root_path %></h2>
        <p><%= t ".design" %> <%= link_to (t ".founder"), (t ".link_hieu")%> </p>
      </div>
    </div>
  </div>
  <%= render "layouts/search" %>
  <%= render "layouts/menu_button" if user_signed_in? %>
</div>

<%= render "layouts/sidebar" %>
<div id="inside-post">&nbsp;</div>

<div class="container htCarousel">
  <div id="myCarousel" class="carousel slide ride " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag( t(".book"), size: Settings.header.size , alt: t(".alt") ) %>
      </div>
      <div class="item">
        <%= image_tag( t(".bdh"), size: Settings.header.size , alt: t(".alt") ) %>
      </div>
      <div class="item">
        <%= image_tag( t(".anhsang"), size: Settings.header.size , alt: t(".alt") ) %>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
