<div id="sidebar">
<ul>
	<li>
		<h2><%=t ".search"%></h2>
		<div id="search" >
			<form method="get" action="#">
				<div>
					<input type="text" name="s" id="search-text" value="" />
					<input type="submit" id="search-submit" value="" />
				</div>
			</form>
		</div>
		<div id="inside-post">&nbsp;</div>
	</li>
	<li>
		<h2><%= t ".category"%></h2>
		<ul>
			<li> <%= link_to (t ".sc"), books_path(:category => t(".sc")) %></li>
			<li><%= link_to (t ".psychology") , books_path(:category => t(".psychology")) %></li>
			<li><%= link_to (t ".comics"), books_path(:category => t(".comics")) %></li>
			<li><%= link_to ( t ".romance"), books_path(:category => t(".romance")) %></a></li>
			<li><%= link_to ( t ".mystery"), books_path(:category => t(".mystery")) %></a></li>
			<li><%= link_to ( t ".art"), books_path(:category => t(".art")) %></a></li>
		</ul>
	</li>
</div>
