<div id="sidebar">
<ul>
	<li>
		<h2><%=t ".search"%></h2>
		<div id="search" >
			<%= form_tag(books_path, method: "get", remote: true) do %>
			<%= text_field_tag :book_name_search, params[:book_name_search],
				class: "form-control", placeholder: "Search book by name",
					id: "book_name_filter", data: {autocomplete_source: books_path} %>
			<% end %>
		</div>
		<div id="inside-post">&nbsp;</div>
	</li>
	<li>
		<h2><%= t ".category"%></h2>
		<ul>
			<li> <%= link_to (t ".sc"), books_path(:category => t(".sc")) %></li>
			<li><%= link_to (t ".psychology") , books_path(:category => t(".psychology")) %></li>
			<li><%= link_to (t ".comics"), books_path(:category => t(".comics")) %></li>
			<li><%= link_to ( t ".romance"), books_path(:category => t(".romance")) %></a></li>
			<li><%= link_to ( t ".mystery"), books_path(:category => t(".mystery")) %></a></li>
			<li><%= link_to ( t ".art"), books_path(:category => t(".art")) %></a></li>
		</ul>
	</li>
</div>
