<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= (yield(:title)) %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyAE0TNJZh5X1iYzpYjh7es0hpwjT7lX7yg"></script>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload"%>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body>
   <%= render "layouts/header" %>
   <div id="flash_message"><%= render "layouts/flash_message" %></div>
    <div id="page">
      <div id="content">
        <%= yield %>
        <div id="inside-post">&nbsp;</div>
      </div>
    </div>
    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
<script type="text/javascript"> $(".owl-carousel").owlCarousel(); </script>
